body {
  background-image: url("/images/bg.jpg");
  background-size: contain;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: auto;
  height: auto;
}

a {
  color: #00B7FF;
}
.customProgress {
  margin: auto auto;
  /*width: 800px;*/
}

.signUpPanel {
  padding: 30px;
  border: 0px;
  background-color: rgba(209, 217, 222, 0.84);
  margin: auto auto;
  /*min-width: 90%;*/
  width: 860px;
  /*min-height: 90%;*/
  height: auto;
  border: solid 10px rgba(214, 227, 235, 0.69);;
  border-radius: 10px;
}

.taffeitInfo {
  width: 80%;
  height: auto;
  margin: auto;
  text-align: center;
}

.icon {
  width: 180px;
  margin: auto;
  text-align: center;
}

.logo {
  width: 160px;
  height: 160px;
  border: solid 8px #a9e2ff;
  border-radius: 50px;
  margin: auto
}

.taffeitDesc {
  margin: auto;
  padding-top: 20px;
  height: 180px;
  width: 400px;
}

.signUpForm {
  width: 70%;
  margin: auto;
}

label{
  font-weight: bold;
}

textarea {
  resize: none;
}

.contact {
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
}

.errorNotice {
  color: red;
}

.buttonCus {
  margin: 10px auto auto auto;
  width: 100px;
  display: block;
}
